div.footer{
    margin-top: 50px;
    padding: 30px 0 20px 0;
    text-align: center;
    background-color: #292929;
    color: #fff;
}
h5 {
    font-size: 14px;
    line-height: 17px;
}
h6 {
    font-size: 10px;
    line-height: 12x;
}
h5, h6 {
    padding: 0;
    margin: 0;
}