div.footer{
    margin-top: 50px;
    padding: 30px 0 20px 0;
    text-align: center;
    background-color: #292929;
    color: #fff;
    font-weight: 600;
}
h5 {
    font-size: 13px;
    line-height: 14px;
}
h6 {
    font-size: 10px;
    line-height: 12x;
}
h5, h6 {
    padding: 0;
    margin: 0;
}
h6:last-of-type {
    margin-top: 5px;
}
a, a:active, a:visited, a:focus{
    color: #fff;;
}