
h1{
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
}
h2{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
}

a, a:visited, a:active, a:focus{
    color: grey;
}
hr:nth-child(2) {
    margin-bottom: 50px;
}

.main-header{
    background-color: #292929;
    color: #fff;
    padding: 40px 20px;
}
.desc-header{
    p{
        padding: 20px 20px 10px 20px;
        font-size: 11px;
        color: #858585;
    }
}