<header>
    <div class="main-header">
        <h1>AposStats</h1>
        <h2>Analiza apostazji oparta na danych z <a href="https://licznikapostazji.pl">Licznik Apostazji</a></h2>
    </div>
    <div class="desc-header">
        <p>
            Dane są pobierane codziennie o północy. Z racji braku systematyki wprowadzanych danych analiza na stronie może się nieco różnić. Pod uwagę nie są brane dane, gdzie z różnych powodów nie udało się dopasować regionu, do wzorców z GUS, np. osoba mieszka za granicą. Imionia i nazwiska są usuwane przed zapisem do bazy danych. Serwis <strong>nie gromadzi danych osbowych</strong>.
            Ujęcie dziennie oraz miesięczne jest wyciągane na podstawie zapisu apostazji do bazy danych i porównania z deklarowanym rokiem, dlatego dane w tych ujęciach są wyciągane od startu aplikacji {{startDate}}.
        </p>
        <hr>
    </div>
</header>