<header>
    <div>
        <h1>AposStats</h1>
        <h2>Analiza danych z <a href="https://licznikapostazji.pl">Licznik Apostazji</a></h2>
    </div>
    <div>
        <p>Dane są pobierane codziennie o północy. Z racji braku systematyki wprowadzanych danych analiza na stronie może się nieco różnić. Pod uwagę nie są brane dane, gdzie z różnych powodów nie udało się dopasować regionu, do wzorców z GUS, np. osoba mieszka za granicą. Imienia i nazwiska są kasowane przed zapisem do bazy danych. Serwis <strong>nie gromadzi danych osbowych</strong>.</p>
    </div>
</header>