
h1{
    font-size: 50px;
    font-weight: 900;
}
h2{
    font-size: 20px;
    font-weight: 600;
}
p{
    font-size: 12px;
    color: #949494;
    padding: 0 5px;
}
a, a:visited, a:active{
    color: grey;
}
hr:nth-child(2) {
    margin-bottom: 50px;
}

.main-header{
    background-color: #292929;
    color: #fff;
    padding: 40px 20px;
}
.desc-header{
    p{
        padding: 20px 20px;
        margin-bottom: -5px;
    }
}