<section id="menu">
    <div>
        <ng-template addComponent></ng-template>
        <!-- <app-bar 
        [voivodeships]="voivodeships"
        [cities] = "cities"
        (cityIdEmitter)="selectCity($event)"
        (voivodeshipIdEmitter)="selectVoivodeship($event)"
        (startDateEmitter)="selectStartDate($event)"
        (endDateEmitter)="selectEndDate($event)"
        (periodEmitter)="selectPeriod($event)"></app-bar> -->
    </div>
</section>
<section id="charts">
    <button (click)="loadComponent()">dodaj</button>
    <div>
        <app-graph [stats]="statistics"></app-graph>

    </div>
</section>