<section id="menu">
    <div class="menu-bar">
        <app-bar 
        [voivodeships]="voivodeships"
        [cities]="cities"
        (cityIdEmitter)="selectCity($event)"
        (voivodeshipIdEmitter)="selectVoivodeship($event)"
        (startDateEmitter)="selectStartDate($event)"
        (endDateEmitter)="selectEndDate($event)"
        (periodEmitter)="selectPeriod($event)"></app-bar>
    </div>
</section>
<section id="charts">
    <div class="ap-p-relative">
        <app-graph [stats]="statistics"></app-graph>
    </div>    
</section>
j
<section id="table">
    <div class="ap-p-relative">
    <app-table [dataTable]="dataTable"></app-table>
</div>
</section>