<div>
    <mat-form-field>
        <mat-label>Województwo</mat-label>
        <mat-select (selectionChange)="selectVoivodeship($event.value)">
            <mat-option [value]="null">Wszystkie</mat-option>
            <mat-option *ngFor="let voivodeship of voivodeships" [value]="voivodeship.id">
                {{voivodeship.name}}
              </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Miasto</mat-label>
        <mat-select (selectionChange)="selectCity($event.value)">
            <mat-option [value]="null">Wszystkie</mat-option>
            <mat-option *ngFor="let city of cities" [value]="city.id">
                {{city.name}}
              </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Okres</mat-label>
        <mat-select (selectionChange)="selectPeriod($event.value)">
            <mat-option [value]="PeriodType.ByYear">Rocznie</mat-option>
            <mat-option [value]="PeriodType.ByMonth">Miesięcznie</mat-option>
            <mat-option [value]="PeriodType.ByDay">Dziennie</mat-option>
        </mat-select>
    </mat-form-field> 
      <mat-form-field>
        <mat-label>Od</mat-label>
        <input 
        matInput
        [value]="selectedStartDate |date: format"
        >
        <input
        [matDatepicker]="pickerSD"
        [min]="minDate" 
        [max]="maxDate" 
        (dateChange)="getStartDate($event)"
        class="shadow-input"
        />     
        <mat-datepicker-toggle matSuffix [for]="pickerSD"></mat-datepicker-toggle>
        <mat-datepicker  
        #pickerSD
        (yearSelected)="getMinYear($event, pickerSD)"
        (monthSelected)="getMinMonth($event, pickerSD)"
        startView="multi-year"

        ></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Do</mat-label>
        <input
        matInput 
        [value]="selectedEndDate | date: format"
        >
        <input
        [matDatepicker]="pickerED"
        [min]="minDate" 
        [max]="maxDate" 
        (dateChange)="getEndDate($event)"
        class="shadow-input"
        />     
        <mat-datepicker-toggle matSuffix [for]="pickerED"></mat-datepicker-toggle>
        <mat-datepicker 
        #pickerED
        (yearSelected)="getMaxYear($event, pickerED)"
        (monthSelected)="getMaxMonth($event, pickerED)"
        startView="multi-year"

        ></mat-datepicker>
      </mat-form-field>
</div>